/********************/
/* FSE SETTINGS ONLY*/
/********************/
#kh-editor-table {
  width: 100%;
  border-radius: 12px;
  background: #fafafa;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}
  
#kh-editor-table h2 {
  font-size: 1.6rem;
}


/***************************/
/* FRONTEND & FSE SETTINGS */
/***************************/
#kh-table-container {
  margin-bottom: 16px;
}

#kh-table-container .MuiInputBase-root .MuiSvgIcon-root {
  font-size: 20px;
}

#kh-table-container .MuiInputBase-root {
  padding-bottom: 0;
  margin-bottom: 0;
}

#kh-table-container .form-control:focus,
#kh-table-container .MuiIconButton-root {
  box-shadow: none;
}

#kh-table-container .MuiInputBase-input {
  box-sizing: content-box;
  font-size: 16px;
  background-image: none;
  margin-bottom: 0;
}

#kh-table-container .MuiDataGrid-columnHeaderTitle,
#kh-table-container .MuiDataGrid-overlay,
#kh-table-container .MuiTablePagination-displayedRows {
  font-size: 14px;
}

#kh-table-container .MuiDataGrid-iconButtonContainer {
  width: auto;
}

#kh-table-container .MuiDataGrid-iconButtonContainer .MuiButtonBase-root .MuiSvgIcon-root {
  font-size: 24px;
}


/* TESTING */
