/********************/
/* FSE SETTINGS ONLY*/
/********************/



/***************************/
/* FRONTEND & FSE SETTINGS */
/***************************/
.kh-table-juz-completed {
  background: rgba(255, 125, 15, .8);
  border-radius: .3rem;
  color: white;
  padding: .3rem;
}

.kh-table-juz-in-progress {

}